body{
    padding: 0px;
}

.home-container {
    display: flex;
    min-height: 400px;
}
.slice-container{
    flex: 50%;
    background-color: rgb(164, 164, 164);
}
.slice-container2{
    flex: 50%;
}
.about-us-container{
    background-color: black;
}

img{
    height: 80px;
}

.carousel-container{
    display: flex;
    height: 100%;
}
.carousel-container-item{
    background-color: black;
    color: #ffffff;
    flex: 50%;
}
.carousel-container-item2{
    flex: 50%;
}
.carousel-container-reverse{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}


.carousel-div{
    height: 400px;
}

.carousel-img{
    height: 100%;
    
}
.carousel-div-reverse{
    height: 400px;
}

.carousel-img-reverse{
    height: 100%;
    
}

.footer-container{
    display: flex;
    background-color: black;
    color: white;
}
.address-box{
    flex: 50%;
}
.input-box{
    flex: 50%;
}
.form-control::placeholder {
    color: white;
    opacity: 1; 
  }
  .btn{
    background-color: cyan;
    
  }
.icons {
    max-width: 30px;
    max-height: 30px;
 }
 .dash-btn{
    height: 6px;
    background-color: cyan;
    width: 15%;
    border: none;
 }
 
